<h1 class="text-center">Send Anonymous Tip</h1>
<div class="flex-container justify-center tip-go-back-container" routerLink="/home">
    <div class="tip-clickable text-center">
        <p>Go Back</p>
    </div>    
</div>
<div class="tip-form-cont flex-container justify-center align-center">
    <form #tipForm="ngForm" (ngSubmit)="submitTip(tipForm.value)" class="tip-form">
        <label>Input the tip you would like to sent</label><br>
        <textarea name="tipContent" [(ngModel)]="content" rows="10" cols="100" class="tip-input" required></textarea><br>
        <label for="">I agree to the below disclaimer</label>
        <input type="checkbox" name="isAgreed" ngModel required><br>
        <input type="submit" class="tip-submit-button flex-container justify-center align-center" [disabled]="tipForm.invalid">
    </form>
</div>
<div class="bottom-section">
    <div class="tip-bottom-left text-center">
        <p>Disclaimer goes here</p>
    </div>
    <div class="tip-bottom-right text-center">
        <p>Date goes here</p>
    </div>
</div>

