
<!-- <div class="flex-container justify-center">
    
</div>
<div class="splash-screen flex-container justify-center align-center">
    
</div>
<div class="flex-container justify-center">
    
</div> -->
<div class="top-half">
    <div class="landing-cont flex-container justify-center align-center">
        <button routerLink="/login">Login</button>
    </div>
    <div class="landing-cont flex-container justify-center align-center">
        <h2>Splash Screen</h2>
    </div>
    <div class="landing-cont flex-container justify-center align-center">
        <button routerLink="/tip">Send Tip</button>
    </div>
</div>

<div class="instructions flex-container justify-center align-center">
    <p>Instructions will go here yo</p>
</div>