.splash-screen {
    height: 300px;
}

.landing-cont {
    float: left;
    width: 33%;
    border: 1px solid #fff;
    height: 50vh;
}


.instructions {
    width: 100%;
    height: 50vh;
    border: 1px solid #fff;
    
}

.top-half {
    height: 50vh;
}