<h1 class="text-center">Login Component</h1>
<h2 class="text-center">Logged in as {{ loggedInUser?.displayName || 'Nobody' }}</h2>
<div class="button-row flex-container">
    <button (click)="login()" [disabled]="loggedInUser">Login</button>
    <button (click)="logout()" [disabled]="!loggedInUser">Logout</button>
    <button routerLink="/home">Go Back</button>
</div>
<p>Date is {{ currentDate | date: 'medium' }}</p>
<div *ngIf="loggedInUser">
<h2 class="text-center">Here are your tips, dawg.</h2>
</div>