<h1 class="text-center">Login Component</h1>
<h2 class="text-center">Logged in as {{ loggedInUser?.displayName || 'Nobody' }}</h2>
<h3 *ngIf="loggedInUser">User id: {{ loggedInUser?.uid }}</h3>
<div class="button-row flex-container">
    <button (click)="login()" [disabled]="loggedInUser">Login</button>
    <button (click)="logout()" [disabled]="!loggedInUser">Logout</button>
    <button routerLink="/home">Go Back</button>
</div>
<p>Date is {{ currentDate | date: 'medium' }}</p>
<hr>
<button (click)="dataCheck(this.loggedInUser.uid)">Click to check if userID is in database</button>
<p>Checking result for: {{ idChecker }}</p>
<p>Is there a username? {{ userIdResult }}</p>
<p>Is there a viewPassword? {{ viewPassResult }}</p>

<!-- begin add user section -->
<div *ngIf="userIdResult === false" class="add-user-to-db">
    <h4>User needs to be added to the database</h4>
    <label>Input viewing password: </label>
    <input [(ngModel)]="pass1" type="password"><br>
    <label>Repeat to confirm: </label>
    <input [(ngModel)]="pass2" type="password"><br>
    <button [disabled]="pass1 !== pass2 || pass1 == ''" (click)="submitNewUser()">Submit user into database</button>
    <p *ngIf="_passwordError===true">Error: Invalid password</p>
</div>
<!-- end add user section -->

<h4 *ngIf="userIdResult === true && viewPassResult === true">User is authorized to view as long as password is provided.</h4>
<h4 *ngIf="userIdResult === true && viewPassResult === false">User is in the database, but needs a view password</h4>

<!-- Begin tip display section. Note that with *ngIf, this will not display if there is not a user logged in -->
<div *ngIf="userIdResult === true && viewPassResult === true">
    <button (click)="viewTips()">Click here to view tips</button>
    <div *ngIf="canViewTips === true">
        <h2 class="text-center">Here are your tips, dawg.</h2>
        <div class="container">
            <!-- Begin header row -->
            <div class="row">
                <div class="date-col">
                    <h2>DATE</h2>
                </div>
                <div class="tip-col">
                    <h2>TIP</h2>
                </div>
            </div> <!-- End header row -->
            <!-- Begin for loop of tips -->
                
            <div class="tip-row" *ngFor="let tip of tips">
                <div class="date-col">{{ tip.date | date: 'medium' }}</div>
                <div class="tip-col">{{ tip.content }}</div>
            </div>
    
            <!-- End for loop of tips -->
        </div>
    </div>
    
</div>